
.blend {
  color: white;
  background-color: darkgreen;
  padding: 1rem;
  border-radius: 3px;
  border: none;
  font-size: 2rem;
}

.blend:hover {
  color: white;
  background-color: darkred;
  padding: 1rem;
  border-radius: 3px;
  border: none;
  font-size: 2rem;
}
