:root {
  --button-padding: 1rem;
  --button-border-radius: 3px;
  --button-border: none;
  --button-font-size: 2rem;
  --button-text-transform: capitalize;
  --button-width: 20rem;
}

.add-cat {
  color: white;
  background-color: darkblue;
  padding: var(--button-padding);
  border-radius: var(--button-border-radius);
  border: var(--button-border);
  font-size: var(--button-font-size);
  text-transform: var(--button-text-transform);
  min-width: var(--button-width);
  width: var(--button-width);
}

.pet {
  color: white;
  background-color: darkgreen;
  padding: var(--button-padding);
  border-radius: var(--button-border-radius);
  border: var(--button-border);
  font-size: var(--button-font-size);
  text-transform: var(--button-text-transform);
  min-width: var(--button-width);
  width: var(--button-width);
}
